body {
    display: flex;
    justify-content: stretch;
    height: 100vh;
    // background-color: #c6d7d8;
}

aside {
    display: flex;
    flex-basis: 15%;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    // width: 300px;
    // min-height: 100vh;
    background-color: rgb(194, 192, 192);

    .color_page_switch {
        padding: 0;

        li {
            width: 150px;
            height: 30px;
            margin: 10px 0 10px 0;
            // padding: 0 0 0 50px;
            line-height: 30px;
            font-weight: bold;
            letter-spacing: 15px;
            text-align: center;
            box-sizing: border-box;
            background-color: #c6d7d8;
            list-style: none;

            &:hover {
                background-color: #b3b59c;
                cursor: pointer;
                transition: 0.3s;
            }

            a {
                display: inline-block;
                width: 100%;
                color: #e26a6a;
                text-decoration: none;
            }
        }
    }

}

#container {
    // display: flex;
    position: relative;
    // flex-basis: auto;
    flex-grow: 50;
    background-color: #c2c0c0;

    scrollbar-width: none;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 0;
    }

    article {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        position: absolute;
        height: 100vh;
        width: 100%;

        .one_color_card {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            width: 200px;
            height: 300px;
            text-align: center;
            color: #000000;
            font-family: '楷体';


            ruby {

                margin: 10px 0 0 0;
                font-size: 35px;
                color: #f0f0f0;
                // text-shadow: 2px 1px #e3fff0;
                text-shadow: 0 0 0px #252525, 0 0 0px #252525, 0 0 2px #252525, 0 0 2px #252525;

                rt {
                    color: #ffffff;
                    font-size: 18px;
                    font-weight: bolder;
                    text-shadow: 0 0 0px #000, 0 0 0px #000, 0 0 2px #000, 0 0 2px #000;
                    // mix-blend-mode: difference;
                }
            }

            span {
                font-size: 18px;
                font-family: 'Arial';
                color: #fff;
                letter-spacing: 2px;
                // text-shadow: 1px 1px #000000;
                text-shadow: 0 0 0px #000, 0 0 0px #000, 0 0 2px #000, 0 0 2px #000;
                // mix-blend-mode: difference;
            }
        }
    }

    #one_color_page:target,
    #two_color_page:target,
    #three_color_page:target {
        z-index: 1;
    }

    #one_color_page {
        // justify-content: space-around;
        background-color: #e26a6a;
    }

    #two_color_page {
        background-color: #b3b59c;

        .two_color_card {
            position: relative;
            width: 200px;
            height: 300px;
            // background-image: linear-gradient(#f09a29 50%, #b1d5df 50%);

            .circle {
                position: absolute;
                // left: 50%;
                // transform: translate(-50%);
                width: 130px;
                height: 130px;
                border-radius: 50%;

                &:first-child {
                    top: 27.5px;
                    left: 10px;
                    // background: #b1d5df;
                    // box-shadow: 5px -5px 13px #ca8122,
                    //     -5px 5px 13px #ffb330;
                    // color: #f09a29,
                }

                &:nth-child(2) {
                    bottom: 27.5px;
                    right: 10px;
                    // background: #f09a29;
                    // box-shadow: 5px -5px 13px #95b3bb,
                    //     -5px 5px 13px #cdf7ff;

                    // color: #b1d5df;
                }

                span {
                    position: absolute;
                    left: 50%;
                    top: 40px;
                    transform: translate(-50%);
                    font-size: 16px;
                    letter-spacing: 1px;
                    // font-weight: bold;
                    color: #eeeeee;
                    text-shadow: 0 0 0px #000, 0 0 0px #000, 0 0 2px #000, 0 0 2px #000;
                }

                .color_name {
                    margin-top: 25px;
                }

            }
        }
    }

    #three_color_page {
        background-color: #c6d7d8;
    }
}