body {
  display: flex;
  justify-content: stretch;
  height: 100vh;
}
aside {
  display: flex;
  flex-basis: 15%;
  flex-direction: column;
  align-items: center;
  background-color: #c2c0c0;
}
aside .color_page_switch {
  padding: 0;
}
aside .color_page_switch li {
  width: 150px;
  height: 30px;
  margin: 10px 0 10px 0;
  line-height: 30px;
  font-weight: bold;
  letter-spacing: 15px;
  text-align: center;
  box-sizing: border-box;
  background-color: #c6d7d8;
  list-style: none;
}
aside .color_page_switch li:hover {
  background-color: #b3b59c;
  cursor: pointer;
  transition: 0.3s;
}
aside .color_page_switch li a {
  text-decoration: none;
  color: #e26a6a;
}
#container {
  position: relative;
  flex-grow: 1;
  background-color: #6ae298;
}
#container article {
  display: flex;
  position: absolute;
  height: 100vh;
  width: 100%;
}
#container article .one_color_card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 200px;
  height: 300px;
  text-align: center;
  color: #fff;
}
#container article .one_color_card ruby {
  display: inline-block;
  margin: 10px 0 0 0;
  font-size: 25px;
  mix-blend-mode: difference;
}
#container article .one_color_card span {
  mix-blend-mode: difference;
}
#container #one_color_page:target,
#container #two_color_page:target,
#container #three_color_page:target {
  z-index: 1;
}
#container #one_color_page {
  background-color: #e26a6a;
}
#container #two_color_page {
  background-color: #b3b59c;
}
#container #two_color_page .two_color_card {
  position: relative;
  width: 200px;
  height: 300px;
  background-image: linear-gradient(#f09a29 50%, #b1d5df 50%);
}
#container #two_color_page .two_color_card .circle {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 130px;
  height: 130px;
  border-radius: 50%;
}
#container #two_color_page .two_color_card .circle:first-child {
  top: 37.5px;
  background: #b1d5df;
  box-shadow: 5px -5px 13px #ca8122, -5px 5px 13px #ffb330;
  color: #f09a29;
}
#container #two_color_page .two_color_card .circle:nth-child(2) {
  bottom: 37.5px;
  background: #f09a29;
  box-shadow: 5px -5px 13px #95b3bb, -5px 5px 13px #cdf7ff;
  color: #b1d5df;
}
#container #two_color_page .two_color_card .circle span {
  position: absolute;
  left: 50%;
  top: 40px;
  transform: translate(-50%);
  font-size: 16px;
  color: #000;
}
#container #two_color_page .two_color_card .circle .color_name {
  margin-top: 25px;
}
#container #three_color_page {
  background-color: #c6d7d8;
}
