body {
  display: flex;
  justify-content: stretch;
  height: 100vh;
}
aside {
  display: flex;
  flex-basis: 15%;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  background-color: #c2c0c0;
}
aside .color_page_switch {
  padding: 0;
}
aside .color_page_switch li {
  width: 150px;
  height: 30px;
  margin: 10px 0 10px 0;
  line-height: 30px;
  font-weight: bold;
  letter-spacing: 15px;
  text-align: center;
  box-sizing: border-box;
  background-color: #c6d7d8;
  list-style: none;
}
aside .color_page_switch li:hover {
  background-color: #b3b59c;
  cursor: pointer;
  transition: 0.3s;
}
aside .color_page_switch li a {
  display: inline-block;
  width: 100%;
  color: #e26a6a;
  text-decoration: none;
}
#container {
  position: relative;
  flex-grow: 50;
  background-color: #c2c0c0;
  scrollbar-width: none;
  overflow: auto;
}
#container::-webkit-scrollbar {
  width: 0;
}
#container article {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  position: absolute;
  height: 100vh;
  width: 100%;
}
#container article .one_color_card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 200px;
  height: 300px;
  text-align: center;
  color: #000000;
  font-family: '楷体';
}
#container article .one_color_card ruby {
  margin: 10px 0 0 0;
  font-size: 35px;
  color: #f0f0f0;
  text-shadow: 0 0 0px #252525, 0 0 0px #252525, 0 0 2px #252525, 0 0 2px #252525;
}
#container article .one_color_card ruby rt {
  color: #ffffff;
  font-size: 18px;
  font-weight: bolder;
  text-shadow: 0 0 0px #000, 0 0 0px #000, 0 0 2px #000, 0 0 2px #000;
}
#container article .one_color_card span {
  font-size: 18px;
  font-family: 'Arial';
  color: #fff;
  letter-spacing: 2px;
  text-shadow: 0 0 0px #000, 0 0 0px #000, 0 0 2px #000, 0 0 2px #000;
}
#container #one_color_page:target,
#container #two_color_page:target,
#container #three_color_page:target {
  z-index: 1;
}
#container #one_color_page {
  background-color: #e26a6a;
}
#container #two_color_page {
  background-color: #b3b59c;
}
#container #two_color_page .two_color_card {
  position: relative;
  width: 200px;
  height: 300px;
}
#container #two_color_page .two_color_card .circle {
  position: absolute;
  width: 130px;
  height: 130px;
  border-radius: 50%;
}
#container #two_color_page .two_color_card .circle:first-child {
  top: 27.5px;
  left: 10px;
}
#container #two_color_page .two_color_card .circle:nth-child(2) {
  bottom: 27.5px;
  right: 10px;
}
#container #two_color_page .two_color_card .circle span {
  position: absolute;
  left: 50%;
  top: 40px;
  transform: translate(-50%);
  font-size: 16px;
  letter-spacing: 1px;
  color: #eeeeee;
  text-shadow: 0 0 0px #000, 0 0 0px #000, 0 0 2px #000, 0 0 2px #000;
}
#container #two_color_page .two_color_card .circle .color_name {
  margin-top: 25px;
}
#container #three_color_page {
  background-color: #c6d7d8;
}
