body {
  display: flex;
  background-color: #c6d7d8;
}
aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  min-height: 100vh;
  background-color: #c2c0c0;
}
aside .color_page_switch {
  padding: 0;
}
aside .color_page_switch li {
  width: 150px;
  height: 30px;
  margin: 10px 0 10px 0;
  line-height: 30px;
  font-weight: bold;
  letter-spacing: 15px;
  text-align: center;
  box-sizing: border-box;
  background-color: #c6d7d8;
  list-style: none;
}
aside .color_page_switch li:hover {
  background-color: #b3b59c;
  cursor: pointer;
  transition: 0.3s;
}
article {
  display: flex;
}
article .color_card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 200px;
  height: 300px;
  text-align: center;
  color: #fff;
}
article .color_card ruby {
  display: inline-block;
  margin: 10px 0 0 0;
  font-size: 25px;
  mix-blend-mode: difference;
}
article .color_card span {
  mix-blend-mode: difference;
}
